USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[select_courseID]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[select_courseID]
as
	select Course_Id from Stud_Course


-----------------------------------------------

--select student grade
GO
