USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Topic_Name]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------
create proc [dbo].[Select_Topic_Name]
as
	select name from topic 

Select_Topic_Name
-----------
GO
