USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Exam_all]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- procs should return code
--select 
CREATE proc [dbo].[Select_Exam_all]
as
	select * from Exam



GO
