USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[select_all_courses]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[select_all_courses]
as
	select * from Course

select_all_courses

------------------------------

--select course ID
GO
