USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Exam_N_Quest]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Select_Exam_N_Quest]
as
	select N_Quest from Exam



GO
