USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[stud_grade]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[stud_grade]
as
	select grade from Stud_Course


----------------------------------------------

-----------------------------UPDATE---------------------------------

--update grade
GO
