USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Topic_ID]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Select_Topic_ID]
as
	select topic_Id from topic 

Select_topic_ID
---------------------------
GO
