USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[select_course_name]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select course name

create proc [dbo].[select_course_name]
as
	select Course_name from Course

select_course_name

-----------------------------------

-----------------------------UPDATE---------------------------------

--update course ID
GO
