USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Course_Id_Exam]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Select_Course_Id_Exam]
as
	select Course_Id from Exam



GO
