USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[select_course_id]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[select_course_id]
as
	select Course_Id from Course

select_course_id

--------------------------------
GO
