USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[Select_Topic_all]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select 
create proc [dbo].[Select_Topic_all]
as
	select * FROM dbo.topic

select_Topic_all;
GO
