USE [ExamProject]
GO
/****** Object:  StoredProcedure [dbo].[insert_Choice]    Script Date: 4/16/2021 11:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_Choice] @QID int, @Cho nchar(50)
as
	insert into Ques_Choices values(@QID,@Cho)

GO
